<!DOCTYPE html>
<html>
	<head>
<style type="text/css">
.buttonstyle{
	width :100%;
	padding: 8px 5px;
	border: 1px solid;
	border-color: gray;
	border-radius: 5px;
	cursor: pointer;	
}

.buttonstyle:hover {
	background: gray;
	border-color: black;
}
form{
	width: 50%;
	margin: 0 auto;
	border: 1px solid #0273dd;
	border-color: black;
	border-radius: 5px;
}
p{
	padding: 0px 30%;
}

h1{
	padding: 1% 30%;
}
</style>
		<meta charset="utf-8">
		<link rel="stylesheet" href="style.css">
		<title>Registration</title>
	</head>
	<body>
	<form action="/registration" method="post">
		<h1> Регистрация</h1>
		<p>
			<label>Mail</label>
			<input type="email" name="mail" required="required" placeholder="ivan_ivanov@mail.ru"></p>
		</p>

		<p>
			<label>Login</label>
			<input type="text" name="login" required="required" placeholder="ivan_ivanov"></p>
		</p>
		<p>
			<label>Пароль</label>
			<input type="Password" name="password" required="required" placeholder="pappy"></p>
		</p>

		<input class="buttonstyle" type="submit" value="registration" />
		<input class="buttonstyle" type="button" value="back" onClick='location.href="loginin"'/>
	</form>
	</body>
</html>
